:root {
    font-family: "Karla", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  p {
    opacity: 0.8;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  button{
    background-color: unset;
    border: unset;
  }
  /*======  flex items ======*/
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    background-color: #e5eaf1;
  }

  .phone-container{
    background-size: contain;
    padding: 5px 1px;
    background-image: url("../assets/phone.png");
    position: relative;
    margin: 10px;
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
}

.dropdown-btn {
    font-size: 18px;
    cursor: pointer;
    color: #4c5968;
}

.phone-header {
  font-size: 15px;
  color: #434358;
  font-weight: bold;
  margin: 20px auto 10px;
  position: relative;
  z-index: 1;
  }

  .phone-header_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
  }

    .phone-header_text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        padding: 5px;
        color: #4c5968;
    }

  .phone-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 110px;
    height: 20px;
    border-radius: 0 0 15px 15px;
    background-color: #f3f6f9;
    transform: translateX(-50%);
  }

  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color:#fff;
    font-size: 18px;
    margin: auto;
}

.orange-icon {
    background-image: linear-gradient(0deg, #ff8f17 0%, #ffc743 100%);
  }

.blue-icon {
    background-image: linear-gradient(0deg, #1d71f1 0%, #17c7fb 100%);
}

.red-icon {
    background-image: linear-gradient(0deg, #fa23a2 0%, #ff677c 100%);
}

  .phone-body_section {
    margin: 0 auto 5px;
    padding: 7px;
    justify-content: space-between;
    overflow: hidden;
    transition: all .3s linear;
  }

  .phone-body {
    height: 380px;
    overflow-y: hidden;
  }
  
  .body_section-dropdown{
    transition: all .3s linear ;
  }

  .close {
    transform: rotate(180deg);
  }


  .bitcoin-title {
    font-size: 15px;
    color: #4c5968;
    font-weight: bold;
    margin-left: 5px;
  }

  .body_section-bitcoin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bitcoin-short-title {
    font-size: 15px;
    color: #aeb8c4;
    font-weight: bold;
  }

  .body_section-btc-total {
    font-size: 15px;
    color: #4c5968;
    font-weight: bold;
    margin: 15px 0 5px;
}

.body_section-usd-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:4px 0 ;
    align-items: center;
  }

  .usd-total {
    font-size: 14px;
    color: #aeb8c4;
    font-weight: bold;
  }

  .usd-percentage {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: #ee225d;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
  }

  .body_section-dropdown {
    font-size: 16px;
    color: #aeb8c4;
    border: unset;
    background-color: unset;
    margin: 0 100px;
    cursor: pointer;
    width: 20px;
  }

  .body_time-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
    margin: 0 auto 5px;
  }

  .time-toggle {
    font-size: 11px;
    color: #aeb8c4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
}



.time-toggle:hover {
    background-color: #aeb8c4;
    color: #fff;
  }

.time-toggle.active {
    background-color: #aeb8c4;
    color: #fff;
  }

.phone-body_supsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
  gap: 8px;
  width: 240px;
}

.phone-footer {
    font-size: 15px;
    color: #434358;
    font-weight: bold;
    margin: 5px auto 8px;
}

.transaction-type {
    font-size: 13px;
color: #4c5968;
font-weight: bold;
padding-top: 2px;
}

.charts-label {
    font-size: 11px;
color: #9a9bb0;
font-weight: bold;
justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 2px;
}

.red {
    background-color: #ef2755;
}

.green {
    background-color: #1ec070;
}

.footer-btns {
  display: flex;
  flex-direction: row;
  margin: 0 20px 4px;
  padding-top: 10px;
  justify-content: space-between;
}

.btn {
    font-size: 19px;
    color: #aeb8c4;
    cursor: pointer;
    margin-right:22px ;
}

.btn:hover{

    color: #4c5968;
}

.btn.active {
    color: #4c5968;
}

.back-btn {
  width: 80px;
  height: 3px;
  border-radius: 2px;
  background-color: #aeb8c4;
  cursor: pointer;
  margin-left: 90px;
}


.dropdown-listitems {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  color:#4c5968;
}

.danger {
  color: rgb(255, 99, 71);
}

.dropdown-listitems:hover {
  background-color: #bcc4ce;
}